body {
    margin: 0;
    font-family: Lato;
    color: white;
    width: 100vw;
    height: 100vh;
    background-color: #163851;
    overflow: hidden;
}

#wip {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    padding-bottom: 20px;
    border-radius: 30px;
    border-bottom: solid 1px white;
}

#menu_container {
    min-height: 100px;
    font-size: 50px;


    padding-left: 15px;
}

#menu_container div {
    display: inline-block;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 70px;
    border-left: solid 1px white;
    border-bottom: solid 1px transparent;
    padding: 5px;
    cursor: pointer;
    border-radius: 0 15px 0 0;
}


#menu_container div:hover {
    border-bottom: solid 1px white;
    background-color: #98530e;

}

@media screen and (min-width: 630px) {
    #main {
        margin: auto;
        width: 60%;
        position: absolute;
        left: calc(50vw - 30%);
        top: calc(50vh - 200px);
    }

    .title {
        margin-top: 0;
        background: linear-gradient(to right,
        rgba(0,128,200,0.7) 0%,
        rgba(0,128,200,0.7) 50%,
        rgba(0,128,200,0.0) 100%);
        font-weight: 200;
        font-size: 6em;
        padding-left: 20px;
    }

    #menu_container {
        background: linear-gradient(to right,
        rgba(139, 75, 14,0.95) 0%,
        rgba(139, 75, 14,0.95) 90%,
        rgba(139, 75, 14,0.0) 100%);
    }
}


@media screen and (max-width: 630px) {
    #main {
        width: 100%;
        position: absolute;
    }

    .title {
        margin-top: 0;
        background: rgba(0, 128, 200, 0.5);
        font-weight: 200;
        font-size: 6em;
    }

    #menu_container {
        background: rgba(139, 75, 14,0.95);
    }
}

#main > * {
    margin-bottom: 10px;
}

.fl {
    float:left;
    display:inline-block;
}


.fr {
    float: right;
    display: inline-block;
}

.box {
    padding: 10px;
    margin: 0;
    width:calc(50% - 27px);
    height: 300px;
    position: relative;
    top: 0;
    left: 0;

    transition: background-color 200ms, box-shadow 200ms, top 200ms, left 200ms;
}
/*
.box:hover:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
  z-index: -1;
}*/
.b1 {background: rgba(87,184,255,0.6);border: solid rgb(87,184,255) 1px;}
.b1:hover {background-color: #3D84B9; box-shadow: -15px -15px 0px 0px rgba(87,184,255,0.8);}
.b2 {background:rgba(182,109,13,0.6); border: solid rgb(182,109,13) 1px;}
.b2:hover {background-color: #765727; box-shadow: -15px -15px 0px 0px rgba(182,109,13,0.8);}
.b3 {background: rgba(251,177,60,0.6); border: solid rgb(251,177,60) 1px;}
.b3:hover {background-color: #9E8044; box-shadow: -15px -15px 0px 0px rgba(251,177,60,0.8);}
.b4 {background: rgba(254,104,71,0.6);border: solid rgb(254,104,71) 1px;}
.b4:hover {background-color: #A1544A; box-shadow: -15px -15px 0px 0px rgba(254,104,71,0.8);}


.box:hover {
    z-index: 1001;
    position: relative;
    top: 15px;
    left: 15px;
    cursor: pointer;
}
.box p {
    font-size: 1.5em;
}
