---
layout: default
---
{% capture dir %}
{% include dir.html %}
{% endcapture %}

{% capture mirage_dune %}
<div class="rowcontent">
  <h2>
    MirageOS on ESP32: a tale of build systems
  </h2>
  <p class="it">2019: Tarides fixed-term contract, under the supervision of Thomas Gazagnaire</p>
  <p>
    Following my Cambridge internship, I've been working for 5 months at
    <a href="//tarides.com">Tarides</a>, a startup company focusing on the
    OCaml ecosystem to build functional systems. The goal was to make the
    ESP32 port first class in the Mirage ecosystem, but it actually required
    deep build system changes. This work is not quite finished but most of the
    port to <a href="//dune.build">Dune</a> has been achieved.
  </p>
  <ul>
    <li><a href="assets/ocaml2019.pdf">Abstract</a> for ICFP'19 talk</li>
  </ul>
</div>
{% endcapture %}

{% capture esp32 %}
<div class="rowcontent">
  <h2>
    OCaml on ESP32: a tale of cross-compilation
  </h2>
  <p class="it">2018: University of Cambridge - OCamlLabs internship, under the supervision of Anil Madhavapeddy</p>
  <p>
    During my Master's degree internship at
    <a href="//ocamllabs.io/">OCamlLabs</a> - Cambridge, I've been working on
    porting the <a href="//ocaml.org/">OCaml</a> compiler to the
    <a href="//www.espressif.com/en/products/hardware/esp32/overview">ESP32</a>
    microcontroller. It's a low-budget, high-connectivity chipset which embeds
    a dual-core 240MHz processor along with Wifi and Bluetooth networking.
    It's an ideal platform for small connected devices that require low-cost,
    low-power but sufficient computing capabilities.
  </p>
  <p>
    I've been able to add a new native compilation backend for the OCaml
    compiler, and successfully ported the base layer of
    <a href="//mirage.io">MirageOS</a>, along with the networking layer.
  </p>
  <p>
    Some resources:
  </p>
  <ul>
    <li>The <a href="esp32">blog</a></li>
    <li>The internship <a href="assets/report-ocaml-esp32.pdf">report</a></li>
    <li>
      The
      <a href="//github.com/well-typed-lightbulbs/">Github</a> organisation
    </li>
    <li><a href="assets/ocaml2018.pdf">Abstract</a> for ICFP'18 talk</li>
  </ul>
</div>
{% endcapture %}

{% capture windos %}
<div class="rowcontent">
  <h2>WindOS: the light Raspberry Pi operating system</h2>
  <p class="it">2016: ENS - school project, under the supervision of Marc Pouzet and Timothy Bourke</p>
  <p>
    School project, featuring traditional kernel features such as virtual
    memory, a VFS, graphics, pre-emptive scheduling.. and a magnificent WESH
    (WindOS Experimental SHell).
  </p>
  <ul>
    <li><a href="//github.com/math-fehr/WindOS">Github</a> project</li>
  </ul>
</div>
{% endcapture %}


<div id="content_container">
  {% include code.html command="ls" output="mirage+dune/ esp32/ windos/" dir=dir %}
  <div class="row">
    {% include code.html command="make -C mirage+dune introduction" full=true dir=dir output=mirage_dune %}
  </div>
  <div class="row">
    {% include code.html command="make -C esp32 introduction" full=true dir=dir output=esp32 %}
  </div>
  <div class="row">
    {% include code.html command="make -C windos introduction" full=true dir=dir output=windos %}
  </div>

</div>