{% if include.full %}
<div class="code">
  <div class="code-prompt">
    <span class="code-site">lortex.org:/{{ include.dir |strip }}</span><span class="code-font">$</span>&nbsp;
  </div>
  <div class="code-command">{{ include.command }}</div>
  {% if include.output %}
  <div class="code-output-full code-normal">{{ include.output }}</div>
  {% endif %}
</div>
{% else %}
<div class="code">
  <div class="code-prompt" style="text-align: right;">
    <span class="code-site">lortex.org:/{{include.dir|strip}}</span><span class="code-font">$</span>&nbsp;
  </div>
  <div class="code-command">
    {{ include.command }}
  </div>
  {% if include.picture %}
  <div class="code-picture picture" style="display: table-caption; caption-side: bottom; padding: 16px;">
    {{ include.picture }}
  </div>
  {% endif %}
  {% if include.output %}
  <div class="code-output">{{ include.output }}</div>
  {% endif %}
</div>
{% endif %}