{% if include.full %}
<div class="code">
  <div>
    <span class="code-site">lortex.org:/{{ include.dir |strip }}</span><span class="code-font">$</span>
    <span class="code-command">{{ include.command }}</span>
  </div>
  {% if include.output %}
  <div class="code-output code-normal">{{ include.output }}</div>
  {% endif %}
</div>
{% else %}
<div class="code flexrow">
  <div style="text-align: right; width: fit-content; display: table;">
    <div><span class="code-site">lortex.org:/{{include.dir|strip}}</span><span class="code-font">$</span>&nbsp;</div>
    {% if include.picture %}
    <div class="picture" style="display: table-caption; caption-side: bottom; padding: 16px;">
      {{ include.picture }}
    </div>
    {% endif %}
  </div>
  <div style="flex: 1">
    <span class="code-command">{{ include.command }}</span>
    {% if include.output %}
    <br />
    <div class="code-output">{{ include.output }}</div>
    {% endif %}
  </div>
</div>
{% endif %}